<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Review Mapper
	</comment>
	
	<entry key="selectListCount">
   	SELECT 
        	COUNT(*)
     FROM
          	REVIEW
    WHERE
         	REVIEW_YN = 'Y'
   	</entry>
	
	<entry key="insertReview">
		INSERT
		  INTO
		  		TB_REVIEW
		VALUES
				(
				?,
				?,
				?,
				?,
				SYSDATE,
				DEFAULT
				)
	</entry>

	
	
	
	
	
	
</properties>