<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Member Mapper
	</comment>
	
	<entry key="selectRefundMemCount">
		SELECT
		        COUNT(*)
		  FROM
		        TB_REFUND
		  JOIN
		        TB_RESERVATION ON (RF_RESER_NO = RESER_NO)
		  JOIN
		        TB_NONMEM ON (RE_MEM_NO = MEM_NO)
		  WHERE
		        MEM_STATUS = 'Y'
	</entry>
	

	
	
	
</properties>
