<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Reservation Mapper
	</comment>
	
	<entry key="insertReser">
		INSERT
		  INTO 
		  		TB_RESERVATION
		VALUES
		 		(
		 		SEQ_RESERVATION.NEXTVAL,
		 		SYSDATE,
		 		?,
		 		?,
		 		?,
		 		DEFAULT,
		 		'12/12/12',
		 		'10/10/10',
		 		2,
		 		1,
		 		?,
		 		'계좌이체',
		 		'330000'
				)
	</entry>
	
	<entry key="selectCoupon">
		SELECT
				TB_MY_COUPON.COUPON_NO COUPON_NO,
		        COUPON_CONTENT,
		        COUPON_DATE,
		        COUPON_CODE
		  FROM
		        TB_MY_COUPON
		  JOIN
		        TB_COUPON ON(TB_MY_COUPON.COUPON_NO = TB_COUPON.COUPON_NO)
		  JOIN
		        TB_MEMBER ON(MEM_NO = CO_MEM_NO)
	</entry>
	
	<entry key="selectReservation">
		SELECT
		        RESER_NO,
		        RESER_DATE,
		        RESER_NAME,
		        RESER_PHONE,
		        BICYCLE,
		        TB_ROOM.CHECKIN_TIME,
		        TB_ROOM.CHECKOUT_TIME,
		        MAX_PEOPLE,	
		        TB_ROOM.ROOM_NO,
		        RE_MEM_NO,
		        PAYMENT,
		        PAYMENT_PRICE
		  FROM
		        TB_RESERVATION
		  JOIN
		        TB_ROOM ON (TB_RESERVATION.ROOM_NO = TB_ROOM.ROOM_NO)	
		  JOIN
		        TB_HOTEL ON (TB_ROOM.ROOM_NO = TB_HOTEL.HOTEL_NO)
		  JOIN
		        TB_MEMBER ON (TB_RESERVATION.RE_MEM_NO = TB_MEMBER.MEM_NO)
		 WHERE
		 		RESER_NO = ?
		   AND
		   		CANCEL_YN = 'N'	
	</entry>
	<entry key="deleteReser">
		UPDATE
				TB_RESERVATION
	       SET
	       		CANCEL_YN = 'Y'		
	     WHERE
	     		RESER_NO = ?	
	</entry>
	<!-- 
	
	<entry key="selectReservation">
		SELECT
		        RESER_NO,
		        RESER_DATE,
		        RESER_NAME,
		        RESER_PHONE,
		        BICYCLE,
		        TB_ROOM.CHECKIN_TIME,
		        TB_ROOM.CHECKOUT_TIME,
		        MAX_PEOPLE,
		        TB_ROOM.ROOM_NO,
		        RE_MEM_NO,
		        PAYMENT,
		        PAYMENT_PRICE
		  FROM
		        TB_RESERVATION
		  JOIN
		        TB_ROOM ON (TB_RESERVATION.ROOM_NO = TB_ROOM.ROOM_NO)	
		  JOIN
		        TB_HOTEL ON (TB_ROOM.ROOM_NO = TB_HOTEL.HOTEL_NO)
		  JOIN
		        TB_MEMBER ON (TB_RESERVATION.RE_MEM_NO = TB_MEMBER.MEM_NO)
		 WHERE
		 		RESER_NO = ?
			
	</entry>
	
 	-->
 	
 	<entry key="selectReserNo">
 		SELECT 
		        RESER_NO,
		        RESER_DATE,
		        RESER_NAME,
		        RESER_PHONE,
		        BICYCLE,
		        TB_ROOM.CHECKIN_TIME,
		        TB_ROOM.CHECKOUT_TIME,
		        MAX_PEOPLE,
		        TB_ROOM.ROOM_NO,
		        RE_MEM_NO,
		        PAYMENT,
		        PAYMENT_PRICE
		  FROM
		        TB_RESERVATION
		  JOIN
		        TB_ROOM ON (TB_RESERVATION.ROOM_NO = TB_ROOM.ROOM_NO)	
		  JOIN
		        TB_HOTEL ON (TB_ROOM.ROOM_NO = TB_HOTEL.HOTEL_NO)
		  JOIN
		        TB_MEMBER ON (TB_RESERVATION.RE_MEM_NO = TB_MEMBER.MEM_NO)
		 WHERE
		 		CANCEL_YN = 'N'	
	  ORDER BY RESER_NO DESC
 	</entry>
	<entry key="selectList">
		SELECT
		        RESER_NO,
		        RESER_DATE,
		        RESER_NAME,
		        RESER_PHONE,
		        BICYCLE,
		        TB_ROOM.CHECKIN_TIME,
		        TB_ROOM.CHECKOUT_TIME,
		        MAX_PEOPLE,
		        TB_ROOM.ROOM_NO,
		        RE_MEM_NO,
		        PAYMENT,
		        PAYMENT_PRICE
		  FROM
		        TB_RESERVATION
		  JOIN
		        TB_ROOM ON (TB_RESERVATION.ROOM_NO = TB_ROOM.ROOM_NO)	
		  JOIN
		        TB_HOTEL ON (TB_ROOM.ROOM_NO = TB_HOTEL.HOTEL_NO)
		  JOIN
		        TB_MEMBER ON (TB_RESERVATION.RE_MEM_NO = TB_MEMBER.MEM_NO)
		 WHERE
		 		RE_MEM_NO = ?    
		   AND
		   		CANCEL_YN = 'N'			   
		 ORDER BY RESER_NO DESC
	</entry>
	<entry key="selectHotelNo">
	SELECT
	        HOTEL_NO,
	        HOTEL_NAME,
	        HOTEL_PHONE,
	        HOTEL_LOCATION,
	        HOTEL_ADDRESS,
	        HOTEL_CATEGORY,
	        HOTEL_PATH,
	        HOTEL_INTRO,
	        HOST_NAME
	  FROM
	        TB_HOTEL
   	 WHERE
	        HOTEL_NO = ?    
	</entry>
		
	<entry key="selectHotel">
	SELECT
	        HOTEL_NO,
	        HOTEL_NAME,
	        HOTEL_PHONE,
	        HOTEL_LOCATION,
	        HOTEL_ADDRESS,
	        HOTEL_CATEGORY,
	        HOTEL_PATH,
	        HOTEL_INTRO,
	        HOST_NAME
	  FROM
	        TB_HOTEL
	</entry>
	
	
	<entry key="selectRoom">
 		SELECT
		        ROOM_NO, 
		        HOTEL_NO,
		        ROOM_NAME,
		        CHECKIN_TIME,
		        CHECKOUT_TIME,
		        ROOM_NUM,
		        ROOM_PRICE,
		        MAX_PEOPLE
	      FROM 
	        	TB_ROOM
	  ORDER BY ROOM_NO DESC
	</entry>
	<entry key="selectRoomNo">
 		SELECT
		        ROOM_NO, 
		        HOTEL_NO,
		        ROOM_NAME,
		        CHECKIN_TIME,
		        CHECKOUT_TIME,
		        ROOM_NUM,
		        ROOM_PRICE,
		        MAX_PEOPLE
	      FROM 
		        TB_ROOM
 		 WHERE
	        	HOTEL_NO = ? 
	   ORDER BY ROOM_NO DESC
	</entry>

</properties>