<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Nonmem Mapper
	</comment>
	
	<entry key="insertNonMem">
		INSERT
		  INTO 
		  		TB_NONMEM
		VALUES
		 		(
				SEQ_MNO.NEXTVAL,
				?,
				?,
				'N'
				)
	</entry>
	
	<entry key="selectNonMem">
		SELECT
				MEM_NO,
				MEM_NAME,
				MEM_PHONE
		  FROM
		  		TB_NONMEM
		 WHERE
		        MEM_NO = ?
	</entry>
	
	<entry key="selectNonmemReser">
		SELECT
		       MEM_NO,
		       MEM_NAME,
		       MEM_PHONE,
		       MEM_STATUS,
		       RESER_NO,
		       RESER_NAME,
		       TO_CHAR(R.CHECKIN_TIME,'YY/MM/DD, HH24:MI') AS CHECKIN_DATE,
		       TO_CHAR(R.CHECKOUT_TIME,'YY/MM/DD, HH24:MI') AS CHECKOUT_DATE,
		       BICYCLE,
		       PEOPLE,
		       PAYMENT_PRICE,
		       ROOM_NAME,
		       ROOM_NUM,
		       MAX_PEOPLE,
		       M.CHECKIN_TIME AS CHECKIN_TIME,
		       M.CHECKOUT_TIME AS CHECKOUT_TIME,
		       HOTEL_NAME,
		       HOTEL_LOCATION,
		       HOTEL_ADDRESS,
		       HOTEL_PATH,
		       ROOM_IMG
		  FROM
		       TB_NONMEM
		  JOIN
		       TB_RESERVATION R
		    ON
		       (MEM_NO = RE_MEM_NO)
		  JOIN
		       TB_ROOM M
		 USING
		       (ROOM_NO)
		  JOIN
		       TB_HOTEL
		 USING
		       (HOTEL_NO)
		  JOIN
		       TB_ROOM_IMG
		 USING
		       (ROOM_NO)
		 WHERE
		       MEM_NAME = ?
		   AND
		       MEM_NO = ?
		   AND
		       MEM_STATUS = 'N'
	
	</entry>
	
</properties>
