<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		nonmem Mapper
	</comment>
	
	<entry key="insertNonMem">
		INSERT
		  INTO 
		  		TB_NONMEM
		VALUES
		 		(
				SEQ_MNO.NEXTVAL,
				?,
				?,
				DEFAULT
				)
	</entry>
	
	<entry key="selectNonMem">
		SELECT
				MEM_NO,
				MEM_NAME,
				MEM_PHONE
		  FROM
		  		TB_NONMEM
	</entry>
	
	
	
	
</properties>