<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Nonmem Mapper
	</comment>
	
	<entry key="insertNonMem">
		INSERT
		  INTO 
		  		TB_NONMEM
		VALUES
		 		(
				SEQ_MNO.NEXTVAL,
				?,
				?,
				DEFAULT
				)
	</entry>
	
	<entry key="selectNonMem">
		SELECT
				MEM_NO,
				MEM_NAME,
				MEM_PHONE
		  FROM
		  		TB_NONMEM
	</entry>
	
	<entry key="selectNonmemReser">
		SELECT
		       MEM_NO, <!-- Member 객체에 담기 -->
		       MEM_NAME,
		       MEM_PHONE,
		       MEM_STATUS,
		       RESER_NO, <!-- Reservation객체에 담기 -->
		       RESER_NAME,
		       R.CHECKIN_TIME,
		       R.CHECKOUT_TIME,
		       BICYCLE,
		       PEOPLE,
		       ROOM_NAME, <!-- Room객체에 담기 -->
		       ROOM_NUM,
		       MAX_PEOPLE,
		       M.CHECKIN_TIME,
		       M.CHECKOUT_TIME,
		       ROOM_IMG
		  FROM
		       TB_NONMEM
		  JOIN
		       TB_RESERVATION R
		    ON
		       (MEM_NO = RE_MEM_NO)
		  JOIN
		       TB_ROOM M
		 USING
		       (ROOM_NO)
		  JOIN
		       TB_ROOM_IMG
		 USING
		       (ROOM_NO)
		 WHERE
		       MEM_NAME = ?
		   AND
		       MEM_PHONE = ?  
			
	
	</entry>
	
</properties>
