<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Notice Mapper
	</comment>
	
	<!-- 공지사항 목록 조회 -->
	<entry key="selectNoticeList">
		SELECT 
		        NOTICE_NO,     		 /* 공지사항 번호 */
		        NOTICE_TITLE,  		 /* 공지사항 제목 */
		        NOTICE_CONTENT, 	 /* 공지사항 내용 */
 				(SELECT NICKNAME FROM TB_MEMBER
                                 WHERE WRITER_NO = MEM_NO) AS WRITER,   /* 작성자명 */		        
		        TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') as CREATE_DATE, 	   /* 공지사항 등록일 */
		        STATUS,   		     /* 공지사항 상태(=노출여부) */
		        VIEW_COUNT			 /* 공지사항 조회수 */
		FROM TB_NOTICE
		
		WHERE 1=1
		/* AND STATUS = 'Y' */
		ORDER BY CREATE_DATE DESC
	</entry>
	
	<!-- 공지사항 등록 -->
	<entry key="insertNotice">
		INSERT
		  INTO
				TB_NOTICE
				(
				NOTICE_NO,
				NOTICE_TITLE,
				NOTICE_CONTENT,
				CREATE_DATE,
				STATUS,
				WRITER_NO
				)
		VALUES
				(
				SEQ_NOTICE.NEXTVAL,
				?,
				?,
				SYSDATE,
				?,
				1	  -- 작성자 회원번호(수정필요)
				)
	</entry>	
	
	<!-- 공지사항 상세조회 -->
	<entry key="selectNoticeOne">
	    SELECT
                NOTICE_NO,   	 /* 공지사항 번호 */
                NOTICE_TITLE,    /* 공지사항 제목 */
                NOTICE_CONTENT,  /* 공지사항 내용 */
                STATUS, 		 /* 공지사항 게시여부 */
                TO_CHAR(CREATE_DATE,'YYYY.MM.DD') AS CREATE_DATE,       /* 공지사항 등록일 */
                (SELECT NICKNAME FROM TB_MEMBER
                                 WHERE WRITER_NO = MEM_NO) AS WRITER    /* 작성자명 */
          FROM TB_NOTICE
               
           WHERE  1=1 
           AND NOTICE_NO = ?       
	</entry>
	
	<!-- 공지사항 상세 조회 시 조회 수 업데이트 -->
	<entry key="updateNoticeViewCount">
		UPDATE TB_NOTICE
		SET    VIEW_COUNT = (VIEW_COUNT + 1)
		WHERE NOTICE_NO = ?
	</entry>	
	
	<entry key="update">
		UPDATE
				TB_NOTICE
			SET
					NOTICE_TITLE = ?,
					NOTICE_CONTENT = ?
			WHERE   NOTICE_NO = ?
			AND     STATUS = 'Y'					
	</entry>
		
	<entry key="delete">
			UPDATE  NOTICE
			SET     STATUS = 'N'
			WHERE   NOTICE_NO = ?				
	</entry>
	
	
</properties>