<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		review Mapper
	</comment>
	
	<entry key="">
		SELECT
	        COUNT(*)
	  FROM
	        TB_REVIEW
	  JOIN
	        TB_RESERVATION ON (RESER_NO = RV_RESER_NO)
	  JOIN
	        TB_NONMEM ON (RE_MEM_NO = MEM_NO)
	 WHERE
	        MEM_STATUS = 'Y'
	</entry>
	
	<entry key ="selectReviewMemberList">
		SELECT *
		  FROM
		     (SELECT 
		            A.*, ROWNUM RNUM
		        FROM( SELECT
		        HOTEL_NAME,
		        MEM_ID,
		        NICKNAME,
		        TO_CHAR(CREATE_DATE ,'YYYY.MM.DD')"CREATE_DATE"
		  FROM
		        TB_MEMBER
		  JOIN
		        TB_RESERVATION ON (RE_MEM_NO = TB_MEMBER.MEM_NO)
		  JOIN
		        TB_ROOM ON (TB_RESERVATION.ROOM_NO = TB_ROOM.ROOM_NO)
		  JOIN
		        TB_HOTEL ON (TB_ROOM.HOTEL_NO = TB_HOTEL.HOTEL_NO)
		  JOIN
		        TB_REVIEW ON (RV_RESER_NO = RESER_NO)
		  JOIN
		        TB_NONMEM ON (TB_MEMBER.MEM_NO = TB_NONMEM.MEM_NO)
		 WHERE
		        MEM_STATUS = 'Y'
		   AND
		       REVIEW_YN = 'Y'
		  GROUP
		    BY
		            HOTEL_NAME, MEM_ID, NICKNAME,TO_CHAR(CREATE_DATE ,'YYYY.MM.DD')
		ORDER
		  BY
		        CREATE_DATE DESC) A)
		    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
</properties>
