<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		nonMember Mapper
	</comment>
	
	<entry key="selectListCount">
		SELECT
	        COUNT(*)
	  FROM
	        TB_NONMEM
	  WHERE
	        MEM_STATUS = 'N'
	</entry>
	
	
	<entry key="selectNonMemberList">
		
		
		SELECT *
		  FROM
		     (SELECT 
		            A.*, ROWNUM RNUM
		        FROM(SELECT
				        MEM_NO,
				        MEM_NAME,
				        MEM_PHONE
				  FROM
				        TB_NONMEM
				  WHERE
				        MEM_STATUS = 'N'
				 ORDER
				  	BY
				  		MEM_NO DESC) A)
		    WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="deleteNonMember">
		DELETE 
		    FROM 
				TB_NONMEM 
		 WHERE 
		 		MEM_NO = ?
	</entry>
	
	<entry key="selectNonMemberName">
           
      SELECT
	        MEM_NO,
	        MEM_NAME,
	        MEM_PHONE
	  FROM
	        TB_NONMEM
	  WHERE
	        MEM_STATUS = 'N'
        AND
            MEM_NAME = ?

	</entry>
	
	
	
	

</properties>
