div {
	box-sizing: border-box;
}

#wrap {
	width: 1200px;
	height: 850px;
	margin: auto;
	padding : 10px;
}

#title-div {
	width: 100%;
	height: 10%;
	margin: auto;
}

#title-div>h2 {
	margin-top: 15px;
	margin-left: 15px;
	font-weight: bold;
}

#content-div {
	width: 100%;
	height: 90%;
	margin: auto;
}

#content-add-form {
	width: 100%;
	height: 100%;
	padding: 5px;
}

#content-div-half1 {
	display: inline-block;
	width: 50%;
	height: 70%;
}

#content-div-half2 {
	width: 50%;
	height: 70%;
	float: right;
}

#addr-div,
#hotel-nameNImg,
#nameNPhone,
#hotel-checkTime {
	width: 90%;
	height: 31%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}
#hotel-cate{
	width: 90%;
	height: 31%;
}
#hotel-serviceList{
	width: 90%;
	height: 62%;
	border-bottom: 1px solid gray;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#addr-div {
	padding: 5px;
}
#addr-div input {
	margin: 2px;
}
#hotel-cate{
	padding: 10px;
}
.hotel-cate-div{
	width: 80%;
	height: 40%;
	margin: auto;
	padding: 10px;
}
.hotel-cate-div label{
	width: 72px;
	margin: 0px;
}
.hotel-cate-div input{
	padding: 5px;
}
.hotel-cate-div select{
	width: 50%;
	padding: 5px;
}
#phone-label{
	margin-left: 50px;
}
#nameNPhone-div-1{
	width: 80%; 
	margin: auto;
 	padding: 10px;
 	text-align: center;
}
#nameNPhone-div-2{
	width:80%;
	margin: auto;
}
#Phone-div-1{
	width: 60px;
}
#Phone-div-2{
	width: 60%;
}
.nameNimg-div{
	width:50%;
	height: 100%;
	display:inline-block;
	padding: 10px;
	text-align: center;
	float:left;
}
#nameNimg-div label {
	display: blick;
	padding: 10px;
}
#hotel-serviceList h3{
	text-align: center;
	margin: 0px;
	padding: 5px;
}
#serviceList-div{
	width: 80%;
	margin: auto;
}
#serviceList-half1{
	width: 80%;
	margin: auto;
	display:flex;
	align-items: center;
	justify-content: space-between;
}
#serviceList-half2{
	width: 80%;
	margin: auto;
	display:flex;
	align-items: center;
	justify-content: space-between;
}
#serviceList-half1 label,input{
	margin: 0px;
}
#serviceList-half2 label,input{
	padding: 5px;
	margin: 0px;
}
label{
	font-size: 18px;
	margin: 0px;
}
#intro-text-area {
	width: 100%;
	padding: 5px;
}
#intro-text-area label{
	display:block;
	text-align: center;
}
#intro-text-area div{
	width: 50%;
	margin: auto;
}
#intro-text-area textarea{
	width: 100%;
	resize: false;
}