<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Member Mapper
	</comment>
	
	<entry key="login">
		SELECT
		       MEM_NO,
		       MEM_NAME,
		       MEM_PHONE,
		       MEM_ID,
		       MEM_PWD,
		       NICKNAME,
		       EMAIL,
		       BORN_DATE,
		       JOIN_DATE,
		       MEM_STATUS,
		       DELETE_YN
	      FROM
	           TB_MEMBER
	      JOIN
	      	   TB_NONMEM USING(MEM_NO)
	     WHERE
	           MEM_ID = ?
	       AND
	           MEM_PWD = ?
	       AND
	           DELETE_YN = 'Y' <!-- 회원 Y, 비회원 N -->
	</entry>
	
	<entry key="insertMember">
		INSERT
		   ALL
		  INTO
		       TB_NONMEM
		VALUES
		       (
		       SEQ_MNO.NEXTVAL,
		       ?, <!-- 이름 -->
		       ?, <!-- 번호 -->
		       DEFAULT <!-- 회원 / 비회원 -->
		       )
		  INTO
		       TB_MEMBER
		VALUES
		       (
		       SEQ_MNO.CURRVAL,
		       ?, <!-- 아이디 -->
		       ?, <!-- 비밀번호 -->
		       ?, <!-- 닉네임 -->
		       ?, <!-- 생년월일 -->
		       ?, <!-- 이메일 -->
		       DEFAULT, <!-- 탈퇴여부 -->
		       SYSDATE <!-- 가입일 -->
		       )

		  INTO
		       TB_MY_GRADE
		VALUES
		       (
		       SEQ_MNO.CURRVAL,
		       1
		       )
		SELECT
		       *
		  FROM
		       DUAL
		       
	</entry>
	
	<entry key="idCheck">
		SELECT
		       COUNT(*)
		  FROM
		       TB_MEMBER
		 WHERE
		       MEM_ID = ?
	
	</entry>
	<entry key="updateNoMember">
		UPDATE
		       TB_NONMEM
		   SET
		       MEM_NAME = ?,
		       MEM_PHONE = ?
		 WHERE
		       MEM_NO = ?
	</entry>
	
	<entry key="updateMember">
		UPDATE
		       TB_MEMBER
		   SET
		       EMAIL = ?,
		       MEM_PWD = ?
		 WHERE
		       MEM_NO = ?
		      
	</entry>
	
	<entry key="deleteMember">
	
		UPDATE
		       TB_MEMBER
		   SET
		       DELETE_YN = 'N'
		 WHERE
		       MEM_NO = ?
		   AND
		       DELETE_YN = 'Y'
	
	</entry>
	
	<entry key="findID">
		SELECT
		       MEM_ID
		  FROM
		       TB_MEMBER
		  JOIN
		       TB_NONMEM
		 USING
		       (MEM_NO)
		 WHERE
		       MEM_NAME = ?
		   AND
		       BORN_DATE = ?
		   AND
		       EMAIL = ?
	
	</entry>
	
	<entry key="findPwd">
		SELECT
		       MEM_ID
		  FROM
		       TB_MEMBER
		  JOIN
		       TB_NONMEM
		 USING
		       (MEM_NO)
		 WHERE
		       MEM_ID = ?
		   AND
		       BORN_DATE = ?
		   AND
		       MEM_PHONE = ?
	</entry>
	
	<entry key="resetPwd">
		UPDATE
               TB_MEMBER
           SET
               MEM_PWD = ?
         WHERE
               MEM_ID = ?
	</entry>
	
	<entry key="selectGrade">
		SELECT
		       GRADE_NAME
		  FROM
		       TB_MEMBER
		  JOIN
		       TB_MY_GRADE
		    ON
		       (MEM_NO = GR_MEM_NO)
		  JOIN
		       TB_MEM_GRADE
		 USING
		       (GRADE_NO)
		 WHERE
		       MEM_NO = ?
	</entry>
	
	<entry key="selectMember">
		SELECT
				MEM_NO,
				MEM_ID,
				MEM_PWD,
				NICKNAME,
				BORN_DATE,
				EMAIL,
				JOIN_DATE
		  FROM
		  		TB_MEMBER
		 WHERE
		 		MEM_NO = ?
	</entry>
	
	<entry key="nicknameCheck"><!-- 닉네임 체크 -->
		SELECT
		       COUNT(*)
		  FROM
		       TB_MEMBER
		 WHERE
		       NICKNAME = ?
	
	</entry>
	
	<entry key="emailCheck"><!-- 이메일 체크 -->
		SELECT
		       COUNT(*)
		  FROM
		       TB_MEMBER
		 WHERE
		       EMAIL = ?
	
	</entry>
	
	<entry key="insertHeart">
		INSERT
		  INTO
		       TB_SAVED
		VALUES
		       (
		       ?,
		       ?
		       )
	
	</entry>
	
	<entry key="deleteHeart">
		DELETE 
		  FROM 
		       TB_SAVED
		 WHERE 
		       HOTEL_NO = ?
		   AND
		       SA_MEM_NO = ?
	</entry>
	
	<entry key="selectHeart">
		SELECT
		       COUNT(*)
		  FROM
		       TB_SAVED
		 WHERE
		       HOTEL_NO = ?
		   AND
		       SA_MEM_NO = ?
	</entry>
	
	<entry key="selectHeartList">
		SELECT
		       HOTEL_NAME,
		       HOTEL_LOCATION,
		       HOTEL_ADDRESS,
		       HOTEL_PATH
		  FROM
		       TB_SAVED
          JOIN
                TB_HOTEL
         USING
               (HOTEL_NO)
        WHERE
              SA_MEM_NO = ?
	
	
	</entry>
	
		<entry key="selectProfile">
		SELECT 
			   PROFILE_PATH
		  FROM 
			   TB_PROFILE 
		 WHERE 
			   MEM_NO = ?
	</entry>
	
	<entry key="updateProfile">

		UPDATE
			   TB_PROFILE
		   SET
		       PROFILE_PATH = ?
		 WHERE
		       MEM_NO = ?
		
	</entry>
	
	<entry key="insertProfile">
		INSERT
		  INTO
		       TB_PROFILE
		VALUES
		       (
		       ?,
		       ?
		       )
	</entry>
	
	
</properties>
