<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		Refund Mapper
	</comment>
	<entry key="insertRefund">	
		INSERT
		  INTO
		  		TB_REFUND
		  		(
		  		RF_RESER_NO,
		  		REFUND_PRICE,
		  		REFUND_ACC_NO,
		  		REFUND_NAME,
		  		BANK
		  		)
		VALUES
				(
				?,
				?,
				?,
				?,
				?
				)
	</entry>
	<entry key="selectRefund">
		 SELECT
				RF_RESER_NO,
				REFUND_PRICE,
				REFUND_ACC_NO,
				REFUND_NAME,
				BANK
		  FROM
		        TB_REFUND
		  JOIN
		  		TB_RESERVATION
		  		ON (RF_RESER_NO = RESER_NO)      
		 WHERE
		 		RF_RESER_NO = ?
	</entry>
	<!--  
	<entry key="selectRefundNo">
		 SELECT
				RF_RESER_NO,
				REFUND_PRICE,
				REFUND_ACC_NO,
				REFUND_NAME,
				BANK
		  FROM
		        TB_REFUND
		  JOIN
		  		ON (RE_RESER_NO = RESER_NO)
	   ORDER BY RESER_NO DESC
				
	</entry>
	-->
	<entry key="selectReservation">
        SELECT
		        RESER_NO,
		        RESER_DATE,
		        RESER_NAME,
		        RESER_PHONE,
		        BICYCLE,
		        TB_ROOM.CHECKIN_TIME,
		        TB_ROOM.CHECKOUT_TIME,
		        TO_CHAR(TB_RESERVATION.CHECKIN_TIME , 'YYYY/MM/DD') AS CHECKIN_DATE, 
    		    TO_CHAR(TB_RESERVATION.CHECKOUT_TIME , 'YYYY/MM/DD') AS CHECKOUT_DATE, 
		        MAX_PEOPLE,	
		        TB_ROOM.ROOM_NO,
		        RE_MEM_NO,
		        PAYMENT,
		        PAYMENT_PRICE
		  FROM
		        TB_RESERVATION
		  JOIN
		        TB_ROOM ON (TB_RESERVATION.ROOM_NO = TB_ROOM.ROOM_NO)	
		  JOIN
		        TB_HOTEL ON (TB_ROOM.ROOM_NO = TB_HOTEL.HOTEL_NO)
		 WHERE
		   		CANCEL_YN = 'N'	
		   AND
		   		RESER_NO = ?
		</entry>
		
		<entry key="updateRefund">
			UPDATE
					TB_REFUND
			   SET
			   		REFUND_ACC_NO = ?,
			   		REFUND_NAME = ?,
			   		BANK = ?
			 WHERE
			 		RF_RESER_NO = ?	
		</entry>
		
		<entry key="deleteReser">
			UPDATE
					TB_RESERVATION
			   SET
			   		CANCEL_YN = 'Y'
			 WHERE
			 		RESER_NO = ?
		</entry>
		
	
	
	
	
</properties>