<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		tb_hotel Mapper
	</comment>
	
	<entry key="insertHotel">
		 INSERT
		   INTO
		       TB_HOTEL
		 VALUES(
		 		SEQ_HOTEL.NEXTVAL,
		 		?,
		 		?,
		 		?,
		 		?,
		 		?,
		 		?,
		 		?,
		 		DEFAULT,
		 		?,
		 		?,
		 		DEFAULT
		 	   )    
	</entry>
	
	<entry key="insertService">
		INSERT
		  INTO
		      TB_SERVICE
	   VALUES(
	   		  SEQ_HOTEL.CURRVAL,
	   		  ?
		     )    
	</entry>
	
	<entry key="selectListCount">
		SELECT
      	 	  COUNT(*)
  		  FROM
      		  TB_HOTEL
 		 WHERE
      	      HOTEL_YN = 'Y'  
	</entry>
	
	
	<entry key="selectListCountRoomIn">
		SELECT
		      COUNT(DISTINCT TB_HOTEL.HOTEL_NO) AS CNTS
		  FROM
		       TB_HOTEL
		  JOIN TB_ROOM
		    ON TB_ROOM.HOTEL_NO = TB_HOTEL.HOTEL_NO
		 WHERE
		      HOTEL_YN = 'Y'
		   AND 
		      ROOM_YN = 'Y'   
	</entry>
	
	
	<entry key="selectAllList">
	SELECT            
          HOTEL_NO,
          HOTEL_NAME,
          HOTEL_LOCATION,
          HOTEL_CATEGORY,
          HOTEL_PATH,
          ROWNUM RNUM
	  FROM(
	  		SELECT
	  		      HOTEL_NO,
                  HOTEL_NAME,
                  HOTEL_LOCATION,
                  HOTEL_CATEGORY,
                  HOTEL_PATH,
                  ROWNUM RNUM
             FROM(
                  SELECT
                    	TB_HOTEL.HOTEL_NO,
                    	HOTEL_NAME,
                    	HOTEL_LOCATION,
                    	HOTEL_CATEGORY,
                    	HOTEL_PATH
                	FROM
                    	TB_HOTEL
                   WHERE
                        HOTEL_YN = 'Y'
    		 ORDER BY HOTEL_NO DESC))
       WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectList">
		SELECT *
	    FROM(SELECT A.*, ROWNUM RNUM 
	        FROM(
	          SELECT
	          		TB_HOTEL.HOTEL_NO,
	              	HOTEL_NAME,
	              	HOTEL_LOCATION,
	              	HOTEL_CATEGORY,
	              	HOTEL_PATH,
	              	MIN(ROOM_PRICE) AS ROOM_PRICE
	          	FROM
	                TB_HOTEL
	           JOIN TB_ROOM
	             ON TB_ROOM.HOTEL_NO = TB_HOTEL.HOTEL_NO
	          WHERE
	               HOTEL_YN = 'Y'
	            AND
	               ROOM_YN = 'Y'   
	        GROUP BY
	        		 TB_HOTEL.HOTEL_NO,
	                 HOTEL_NAME,
	                 HOTEL_LOCATION,
	                 HOTEL_CATEGORY,
	                 HOTEL_PATH
	        ORDER BY TB_HOTEL.HOTEL_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
		
	</entry>
	
	<entry key="selectHotel">
		SELECT
			  HOTEL_NO,	
		      HOTEL_NAME,
		      HOTEL_PATH,
		      HOTEL_CATEGORY,
		      HOTEL_INTRO
    	  FROM TB_HOTEL  
         WHERE HOTEL_YN = 'Y'
           AND HOTEL_NO = ?
	</entry>
	
	<entry key="hotelServiceList">
		SELECT
	      	  TB_SERVICE.SERVICE_NO,
	      	  SERVICE_NAME
	  	  FROM    
	      	  TB_HOTEL
	  	  JOIN TB_SERVICE
	        ON TB_HOTEL.HOTEL_NO = TB_SERVICE.HOTEL_NO
	  	  JOIN TB_SERVICE_LIST
	    	ON TB_SERVICE_LIST.SERVICE_NO = TB_SERVICE.SERVICE_NO
	     WHERE
	       	  HOTEL_YN = 'Y'
	       AND 
	       	  TB_HOTEL.HOTEL_NO = ?
	</entry>
	
	<entry key="hotelRoomList">
		SELECT
		      TB_ROOM.CHECKIN_TIME,
		      TB_ROOM.CHECKOUT_TIME,
		      ROOM_NUM,
		      ROOM_PRICE,
		      ROOM_IMG,
		      ROOM_NAME,
		      TB_ROOM.ROOM_NO
  		 FROM TB_ROOM
	     JOIN TB_HOTEL
	       ON TB_ROOM.HOTEL_NO = TB_HOTEL.HOTEL_NO
	     JOIN TB_ROOM_IMG
	       ON TB_ROOM.ROOM_NO = TB_ROOM_IMG.ROOM_NO
	    WHERE 
	         TB_HOTEL.HOTEL_NO = ?
	      AND
	         HOTEL_YN = 'Y'   
	      AND
	         ROOM_YN = 'Y'
	     AND        
        	NOT TB_ROOM.ROOM_NO IN(
                                 SELECT 
                                       ROOM_NO
                                   FROM
                                       TB_RESERVATION
                                  WHERE   
                                       SYSDATE BETWEEN TB_RESERVATION.CHECKIN_TIME AND TB_RESERVATION.CHECKOUT_TIME
                                  )     
	</entry>
	
	
	<entry key="hotelReviews">
	SELECT *
         FROM(SELECT A.*, ROWNUM RNUM
                FROM(SELECT
                          TB_HOTEL.HOTEL_NO,
                          TB_RESERVATION.ROOM_NO,
                          RESER_NAME,
                          CREATE_DATE,
                          CASE WHEN REVIEW_SCORE = 1 THEN '★' 
                               WHEN REVIEW_SCORE = 2 THEN '★★'
                               WHEN REVIEW_SCORE = 3 THEN '★★★'
                               WHEN REVIEW_SCORE = 4 THEN '★★★★'
                          ELSE '★★★★★'
                          END AS REVIEW_SCORE,
                          REVIEW_CONTENT,
                          TB_RESERVATION.RESER_NO
                      FROM
                          TB_RESERVATION
                      JOIN TB_ROOM  
                        ON TB_RESERVATION.ROOM_NO = TB_ROOM.ROOM_NO
                      JOIN TB_HOTEL
                        ON TB_HOTEL.HOTEL_NO = TB_ROOM.HOTEL_NO
                      JOIN TB_REVIEW
                        ON TB_RESERVATION.RESER_NO = TB_REVIEW.RV_RESER_NO
                     WHERE
                          TB_HOTEL.HOTEL_YN = 'Y'
                       AND
                          CANCEl_YN = 'N'
                       AND
                          TB_ROOM.ROOM_YN = 'Y'   
                       AND
                          REVIEW_YN = 'Y'
                       AND
                          TB_HOTEL.HOTEL_NO = ?
                      ORDER
                         BY CREATE_DATE DESC) A)
         WHERE RNUM BETWEEN ? AND ? 
	</entry>
	
	<entry key="countReviews">
		SELECT
      	      COUNT(*)
  	      FROM
      	      TB_REVIEW
		  JOIN TB_RESERVATION
		    ON TB_REVIEW.RV_RESER_NO = TB_RESERVATION.RESER_NO
		  JOIN TB_ROOM
		    ON TB_ROOM.ROOM_NO = TB_RESERVATION.ROOM_NO
		  JOIN TB_HOTEL
		    ON TB_HOTEL.HOTEL_NO = TB_ROOM.HOTEL_NO
 		 WHERE
 		      TB_HOTEL.HOTEL_NO = ?
 		   AND
 		      TB_HOTEL.HOTEL_YN = 'Y'   
	</entry>
	
	<!-- 업데이트시 가져갈데이터 -->
	<entry key="updateForm">
		SELECT
	          TB_HOTEL.HOTEL_NO,
	          HOTEL_NAME,
	          HOTEL_PHONE,
	          HOTEL_LOCATION,
	          HOTEL_ADDRESS,
	          HOTEL_CATEGORY,
	          HOTEL_PATH,
	          HOTEL_INTRO,
	          HOST_NAME,
	          HOTEL_DEAIL_ADDR
          FROM
        	  TB_HOTEL
  	     WHERE
       	      HOTEL_YN = 'Y'
    	   AND
              TB_HOTEL.HOTEL_NO = ?
	</entry>
	
	<entry key="updateFormSerList">
		SELECT
      		  SERVICE_NAME
  	      FROM
      	      TB_SERVICE_LIST
    	  JOIN TB_SERVICE
     		ON TB_SERVICE.SERVICE_NO = TB_SERVICE_LIST.SERVICE_NO
  		  JOIN TB_HOTEL
    		ON TB_HOTEL.HOTEL_NO = TB_SERVICE.HOTEL_NO
 	     WHERE
       		  TB_HOTEL.HOTEl_YN = 'Y'
   		   AND 
      	      TB_HOTEL.HOTEL_NO = ?
	</entry>
	
	<entry key="updateHotel">
		UPDATE
		      TB_HOTEL
		   SET
		      HOTEL_NAME = ?,
		      HOTEL_LOCATION = ?,
		      HOTEL_ADDRESS = ?,
		      HOTEL_CATEGORY = ?,
		      HOTEL_INTRO = ?,
		      HOST_NAME = ?,
		      HOTEL_PATH = ?,
		      HOTEL_DEAIL_ADDR = ?
		WHERE 
		     HOTEL_NO = ? 
		  AND
		     HOTEL_YN = 'Y'
	</entry>
	
	<entry key="deleteAllServiceList">
		DELETE
		  FROM
		      TB_SERVICE
		 WHERE
		      HOTEL_NO = ?
	</entry>
		
	<entry key="updateService">
		INSERT
		  INTO
		      TB_SERVICE
	   VALUES(
	   		  ?,
	   		  ?
		     )
	</entry>
	
	<entry key="deleteHotel">
		UPDATE
		      TB_HOTEL
		   SET   
		      HOTEL_YN = 'N'
		 WHERE
		      HOTEL_NO = ?	      
	</entry>
	
	<entry key="selectLocation">
		SELECT
     	      DISTINCT HOTEL_LOCATION
  		  FROM   
      	      TB_HOTEL
   		 WHERE
      		  HOTEL_YN = 'Y'
	</entry>
	
	<entry key="selectPopular">
		SELECT *
        FROM(SELECT A.*, ROWNUM RNUM    
         FROM(
            SELECT
                  DISTINCT TB_HOTEL.HOTEL_NO,
                     HOTEL_NAME,
	                 HOTEL_LOCATION,
	                 HOTEL_CATEGORY,
	                 HOTEL_PATH,
                  COUNT(TB_ROOM.ROOM_NO)
              FROM
                  TB_RESERVATION
              JOIN TB_ROOM
                ON TB_RESERVATION.ROOM_NO = TB_ROOM.ROOM_NO
              JOIN TB_HOTEL
                ON TB_ROOM.HOTEL_NO = TB_HOTEL.HOTEL_NO
            WHERE
                 HOTEL_YN = 'Y'
              AND
                 ROOM_YN = 'Y'
             GROUP BY 
                  TB_HOTEL.HOTEL_NO,
                  TB_RESERVATION.ROOM_NO,
                  HOTEL_NAME,
                  HOTEL_LOCATION,
                  HOTEL_CATEGORY,
                  HOTEL_PATH
        ORDER BY COUNT(TB_ROOM.ROOM_NO) DESC) A)
      WHERE RNUM BETWEEN 1 AND 10
	</entry>
	
	<entry key="selectRecomData">
		SELECT * 
        FROM(  
             SELECT A.*,
               ROWNUM rowcnt
           FROM(    
             SELECT * 
                  FROM (
                        SELECT
                             HOTEL_LOCATION,
                             HOTEL_NAME,
                             TB_HOTEL.HOTEL_NO,
                             HOTEL_CATEGORY,
                             HOTEL_PATH,
                             COUNT(TB_RESERVATION.ROOM_NO),
                            ROW_NUMBER()OVER (PARTITION BY HOTEL_LOCATION ORDER BY COUNT(TB_RESERVATION.ROOM_NO)DESC) AS RNUM
                         FROM
                             TB_RESERVATION
                         JOIN TB_ROOM
                           ON TB_RESERVATION.ROOM_NO = TB_ROOM.ROOM_NO
                         JOIN TB_HOTEL
                           ON TB_ROOM.HOTEL_NO = TB_HOTEL.HOTEL_NO
                        WHERE
                             HOTEL_YN = 'Y'
                          AND
                             ROOM_YN = 'Y'
                        GROUP
                           BY 
                             TB_HOTEL.HOTEL_NO,
                             HOTEL_LOCATION,
                             HOTEL_NAME,
                             HOTEL_CATEGORY,
                             HOTEL_PATH,
                             TB_RESERVATION.ROOM_NO)
                WHERE RNUM = 1) A)
    WHERE rowcnt BETWEEN 1 AND 4
	</entry>
	
	<entry key="commentAdmin">
	SELECT
	      COMMENT_CONTENT,
	      TB_COMMENT.CREATE_DATE,
	      TB_MEMBER.NICKNAME,
	      TB_RESERVATION.RESER_NAME,
	      TB_RESERVATION.ROOM_NO,
	      TB_RESERVATION.RESER_NO
  	  FROM
          TB_COMMENT
  	  JOIN TB_MEMBER
        ON TB_MEMBER.MEM_NO = TB_COMMENT.COMMENT_MEM_NO
      JOIN TB_RESERVATION
        ON TB_RESERVATION.RESER_NO = TB_COMMENT.CO_RESER_NO
      JOIN TB_ROOM
        ON TB_ROOM.ROOM_NO = TB_RESERVATION.ROOM_NO
      JOIN TB_HOTEL
        ON TB_HOTEL.HOTEL_NO = TB_ROOM.HOTEL_NO
      JOIN TB_REVIEW
        ON TB_REVIEW.RV_RESER_NO = TB_RESERVATION.RESER_NO
     WHERE 
          TB_MEMBER.DELETE_YN = 'Y'
      AND
         TB_RESERVATION.CANCEL_YN = 'N'
      AND
         TB_HOTEL.HOTEL_NO = ?
	</entry>
	
	<entry key="searchList">
	SELECT *
    FROM(SELECT A.*, ROWNUM RNUM
        FROM(
            SELECT
                  TB_HOTEL.HOTEL_NO,
                  HOTEL_NAME,
                  HOTEL_LOCATION,
                  HOTEL_CATEGORY,
                  HOTEL_PATH,
                  MIN(ROOM_PRICE) AS ROOM_PRICE
              FROM
                  TB_HOTEL
              LEFT    
              JOIN TB_ROOM
                ON TB_ROOM.HOTEL_NO = TB_HOTEL.HOTEL_NO
              LEFT  
              JOIN TB_RESERVATION
                ON TB_RESERVATION.ROOM_NO = TB_ROOM.ROOM_NO 
             WHERE
                  HOTEL_YN = 'Y'
               AND
                  ROOM_YN = 'Y'
               AND
                  MAX_PEOPLE &gt;= ?
               AND
                  HOTEL_LOCATION LIKE ?  
               AND
                  NOT TB_ROOM.ROOM_NO IN(
                                         SELECT 
                                               ROOM_NO
                                           FROM
                                               TB_RESERVATION
                                          WHERE   
                                               TB_RESERVATION.CHECKIN_TIME &gt;= ?
                                            AND
                                               TB_RESERVATION.CHECKOUT_TIME &lt;= ?)
            GROUP BY
                 TB_HOTEL.HOTEL_NO,
                 HOTEL_NAME,
                 HOTEL_LOCATION,
                 HOTEL_CATEGORY,
                 HOTEL_PATH,
                 HOTEL_ENROLLDATE
            ORDER BY HOTEL_ENROLLDATE DESC) A)
    	WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchListCount">
		SELECT
		      COUNT(DISTINCT TB_HOTEL.HOTEL_NO) AS CNTS
		  FROM
		       TB_HOTEL
		  LEFT     
		  JOIN TB_ROOM
		    ON TB_ROOM.HOTEL_NO = TB_HOTEL.HOTEL_NO
		 WHERE
		      HOTEL_YN = 'Y'
		   AND 
		      ROOM_YN = 'Y'
           AND
              MAX_PEOPLE &gt;= ?
           AND
              HOTEL_LOCATION LIKE ?   
           AND
                  NOT TB_ROOM.ROOM_NO IN(
                                         SELECT 
                                               ROOM_NO
                                           FROM
                                               TB_RESERVATION
                                          WHERE   
                                               TB_RESERVATION.CHECKIN_TIME &gt;= ?
                                            AND
                                               TB_RESERVATION.CHECKOUT_TIME &lt;= ?)
	</entry>
	
	
	
	
	
	
	
	
	
	










	
</properties>