<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		tb_hotel Mapper
	</comment>
	
	<entry key="insertRoom">
	INSERT
  INTO
      TB_ROOM(
              ROOM_NO,
              HOTEL_NO,
              ROOM_NAME,
              CHECKIN_TIME,
              CHECKOUT_TIME,
              ROOM_NUM,
              ROOM_PRICE,
              MAX_PEOPLE
              )
       VALUES(
              SEQ_ROOM.NEXTVAL,
              ?,
              ?,
              ?,
              ?,
              ?,
              ?,
              ?
             )
	</entry>
	
	<entry key="insertRoomImg">
	INSERT
  	  INTO
      	  TB_ROOM_IMG
   VALUES(
          SEQ_ROOM_IMG.NEXTVAL,
          SEQ_ROOM.CURRVAL,
          ?
          )
	</entry>
	
	<entry key="countRoom">
	SELECT
    	  COUNT(*)
  	  FROM
      	  TB_ROOM
  	 WHERE
       	  HOTEL_NO = ?
       AND
          ROOM_YN = 'Y'	  
	</entry>
	
	<entry key="updateRoomList">
	SELECT
	      TB_ROOM.ROOM_NO,
	      ROOM_NAME,
	      CHECKIN_TIME,
	      CHECKOUT_TIME,
	      ROOM_NUM,
	      ROOM_PRICE,
	      MAX_PEOPLE,
	      ROOM_IMG,
	      ROOM_IMG_NO
  	  FROM
      	  TB_ROOM
  	  JOIN TB_ROOM_IMG
        ON TB_ROOM.ROOM_NO = TB_ROOM_IMG.ROOM_NO
  	  JOIN TB_HOTEL
        ON TB_ROOM.HOTEL_NO = TB_HOTEL.HOTEL_NO
  	 WHERE
          TB_HOTEL.HOTEL_YN = 'Y'
       AND
          ROOM_YN = 'Y'
       AND
          TB_HOTEL.HOTEL_NO = ?  
	</entry>
	
	<entry key="updateRoomForm">
	SELECT
	      ROOM_NAME,
	      CHECKIN_TIME,
	      CHECKOUT_TIME,
	      ROOM_NUM,
	      ROOM_PRICE,
	      MAX_PEOPLE,
	      ROOM_IMG,
	      TB_HOTEL.HOTEL_NO,
	      ROOM_IMG_NO
 	  FROM   
          TB_ROOM
  	  JOIN TB_HOTEL
        ON TB_ROOM.HOTEL_NO = TB_HOTEL.HOTEL_NO
  	  JOIN TB_ROOM_IMG
        ON TB_ROOM.ROOM_NO = TB_ROOM_IMG.ROOM_NO  
     WHERE TB_HOTEL.HOTEL_YN = 'Y'
       AND TB_ROOM.ROOM_YN = 'Y'  
       AND TB_ROOM.ROOM_NO = ? 
	</entry>
	
	<entry key="updateRoom">
	
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</properties>